.background {
    -fx-background-color: linear-gradient(to bottom right, #cedbe3 .05%,#00B6F5 70%, #006fff 100% );
}
.mainTitle {
    -fx-font-size: 50px;
    -fx-text-fill: white;

    -fx-font-weight: bold;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 15px;

    -fx-border-radius: 15px;
    -fx-border-color: white;
    -fx-border-width: 5px;

    -fx-prompt-text-fill: white;

    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.choice-box {
    -fx-text-fill: white;
    -fx-background-color: transparent;

    -fx-border-width: 4px;
    -fx-border-color: white;

    -fx-mark-color: #002fff;
}

.choice-box > .label {
    -fx-text-fill: white;
    -fx-alignment: center;
}

.bottone-modifica {
    /* colore sfondo bottone */
    -fx-background-color: #0099f8;
    -fx-background-radius: 20px;
    /* testo del bottone */
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.bottone-modifica:hover {
    -fx-background-color: #05c200;
    -fx-background-radius: 20px;
    /* testo del bottone */
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-fill: white;
}

.bottone-modifica:pressed {
    -fx-background-color: #ffffff;
    -fx-text-fill: #05c200;
    -fx-border-radius: 20px;
    -fx-border-color: #05c200;
    -fx-border-width: 1px;

    -fx-background-radius: 30px;
    /* testo del bottone */
    -fx-font-weight: bold;
}