/* schermata di login */
.background-login {
    -fx-background-color: linear-gradient(to bottom right, lightblue .05%,#00B6F5 70%, #0079FF 100% );
}

.bottone-login {
    /* colore sfondo bottone */
    -fx-background-color: #0091f8;
    -fx-background-radius: 20px;
    /* testo del bottone */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.bottone-login:hover{
    -fx-background-color: #050c98;
    -fx-background-radius: 20px;
    /* testo del bottone */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-fill: white;
}
.bottone-login:pressed{
    -fx-background-color: #ffffff;
    -fx-text-fill: #050c98;
    -fx-border-radius: 20px;
    -fx-border-color: #050c98;
    -fx-border-width: 3px;

    -fx-background-radius: 30px;
    /* testo del bottone */
    -fx-font-weight: bold;
}

/* text field per utente e password */
.text-field-utente {
    -fx-background-color: transparent;
    -fx-background-radius: 15px;

    -fx-border-radius: 15px;
    -fx-border-color: white;
    -fx-border-width: 5px;

    -fx-prompt-text-fill: white;

    -fx-text-fill: white;
}

.text-field-password {
    -fx-background-color: transparent;
    -fx-background-radius: 15px;

    -fx-border-radius: 15px;
    -fx-border-color: white;
    -fx-border-width: 5px;

    -fx-prompt-text-fill: white;

    -fx-text-fill: white;
}

.button-registrati {
    /* colore sfondo bottone */
    -fx-background-color: #0099f8;
    -fx-background-radius: 20px;
    /* testo del bottone */
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.button-registrati:hover{
    -fx-background-color: #05c200;
    -fx-background-radius: 20px;
    /* testo del bottone */
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-fill: white;
}
.button-registrati:pressed{
    -fx-background-color: #ffffff;
    -fx-text-fill: #05c200;
    -fx-border-radius: 20px;
    -fx-border-color: #05c200;
    -fx-border-width: 1px;

    -fx-background-radius: 30px;
    /* testo del bottone */
    -fx-font-weight: bold;
}